Package                   Version
------------------------- ---------
altgraph                  0.17.2
certifi                   2021.10.8
charset-normalizer        2.0.7
colorama                  0.4.4
coverage                  5.5
dataclasses               0.8
deprecation               2.1.0
eyed3                     0.9.6
filetype                  1.0.8
idna                      3.3
importlib-metadata        4.8.1
macholib                  1.15.2
numpy                     1.19.5
opencv-python             4.5.2.52
packaging                 21.0
pip                       21.3
PyAudio                   0.2.11
pydub                     0.25.1
pyinstaller               4.3
pyinstaller-hooks-contrib 2021.1
pyparsing                 2.4.7
requests                  2.26.0
setuptools                39.0.1
six                       1.16.0
spotipy                   2.19.0
toml                      0.10.2
typing-extensions         3.10.0.2
urllib3                   1.26.7
zipp                      3.6.0
